body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-link {
  margin-left: 40px;
}


.founder-image {
   width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 20%;
  display: block;
  margin: 0 auto; /* 🔥 makes it circle */
}

.founder-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* keeps image proportional */
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}